name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup mise
        uses: jdx/mise-action@v2
        with:
          cache: true

      - name: Install tools
        run: |
          mise install
          mise use -g tmux@latest

      - name: Lint
        run: lefthook run ci

      - name: Test
        run: cargo test
